* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  color: var(--text-primary-color);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--bg-primary-color);
}

main {
  width: 100%;
}

main section {
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-lg);
}

.btn {
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  outline: none;
  border-radius: var(--border-radius-md);
  background: var(--bg-active-color);
  cursor: pointer;
  color: var(--text-active-color);
}

#reset-btn {
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}

#download-btn {
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
}

main section .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-lg);
  width: 70%;
}
main section .right {
  width: 30%;
  height: fit-content;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-xl);
}

main section .top {
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}

main section .bottom {
  width: 100%;
  padding: var(--padding-2xl);
  aspect-ratio: 5/3;
  border-radius: var(--border-radius-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secondary-color);
}

main section .bottom .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.6;
  font-size: var(--font-size-lg);
  gap: var(--gutter-md);
}

main section .bottom .placeholder i {
  font-size: var(--font-size-10xl);
}

main section .right .filters {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
}

main section .right .filter {
  width: 100%;
}

main section .right .filter input {
  width: 100%;
  outline: none;
  margin-top: var(--margin-sm);
  appearance: none;
}

main section .right .filter input::-webkit-slider-runnable-track {
  background-color: var(--bg-active-color);
  height: 3px;
  border-radius: 10px;
}

main section .right .filter input::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-danger-color);
  margin-top: -8.5px;
}

canvas {
  display: none;
  max-width: 90%;
  max-height: 80vh;
}

.Presets {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter-sm);
}
.Presets .btn {
  font-size: var(--font-size-md);
}
